@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&family=JetBrains+Mono:wght@300&family=STIX+Two+Text&display=swap');

.backs{
    background-color: #FFA07A;
}
.wrapper{
    width: 990px;
    margin-left: 12%;
}
.firstblock{
    background-color: white;
    height: 200px;
    width: 500px;
    margin-left: 70%;
    margin-top: 1%;
    border-radius: 20px;
    border: 10px;
    box-shadow: 0 0 10px;
    
}
.text{
color: black;
margin-top: -70%;
margin-left: 15%;

}
.secblock{
    background-color: white;
    height: 100px;
    width: 500px;
    margin-left: 70%;
    margin-top: 10%;
    border-radius: 20px;
    border: 15px;
    box-shadow: 0 0 10px;
}
.thblock{
    background-color: white;
    height: 610px;
    width: 200px;
    margin-left: 48%;
    margin-top: 0.1%;
    border-radius: 20px;
    border: 15px;
    float: left;
    box-shadow: 0 0 5px;
}
.forblock{
    background-color: white;
    height: 475px;
    width: 500px;
    margin-left: 70%;
    margin-top: 2%;
    border-radius: 20px;
    border: 15px;
    box-shadow: 0 0 5px;
}
.fifthblock{
    background-color: white;
    width: 200px;
    height: 188px;
    margin-left: 48%;
    margin-top: -19%;
    border: 15px;
    border-radius: 15px;
    box-shadow: 0 0 10px;
}
.photo{
    height: 120%;
    width: 120%;
    box-shadow: 0px 0px 5px;
    margin-top: -1%;
    margin-left: -18%;
    border-radius: 20px;
    border: 15px;

}
.plans{
    color: black;
    margin-left:18%;
    font-size: 20px;
    font-family: 'JetBrains Mono', monospace;
}
.invite{
    color: black;
    font-size: 15px;
    font-family: 'Alegreya SC', serif;
    margin-left: 6%;
    padding-top: 10px;
    
}
.header1{
    color: black;
    font-size: 20px;
    font-family: 'STIX Two Text', serif;
    margin-left: 12%;
    margin-top: -4%;
}
.header2{
    color: black;
    font-size: 20px;
    font-family: 'STIX Two Text', serif;
    margin-left: 12%;
    margin-top: 15%;
}
.header3{
    color: black;
    font-size: 20px;
    font-family: 'STIX Two Text', serif;
    margin-left: 12%;
    margin-top: 10%;
}
.header4{
    color: black;
    font-size: 20px;
    font-family: 'STIX Two Text', serif;
    margin-left: 12%;
    margin-top: 16%;
}
.header5{
    color: black;
    font-size: 20px;
    font-family: 'STIX Two Text', serif;
    margin-left: 12%;
    margin-top: 18%;
}


    .maintextplans{
    color: black;
    font-size: 20px;
    font-family: 'STIX Two Text', serif;
    margin-left:8% ;
    margin-top: -10px;
}
.maintextplans1{
    color: black;
    font-size: 20px;
    font-family: 'STIX Two Text', serif;
    margin-left: 8%;
    margin-top: 10%;
}

.maintextplans2{
    color: black;
    font-size: 20px;
    font-family: 'STIX Two Text', serif;
    margin-top: 8%;
    margin-left: 10%;
}
.maintextplans3{
    color: black;
    font-size: 20px;
    font-family: 'STIX Two Text', serif;
    margin-left: 8%;
    margin-top: 11%;
}

.mstcls{
    color: black;
    font-size: 14px;
    font-family: 'Alegreya SC', serif;
    margin-left: 5%;
    padding-top: 5%;
}

.mstcls1{
    color: black;
}
.mstcls2{
    color: black;
}
.mstcls3{
    color: black;
}
.mstcls4{
    color: black;
}
.mstcls5{
    color: black;
}
.mstcls6{
    color: black;    
}
.mstcls7{
    color: black;
}
.mstcls8{
    color: black;
}
.mstcls9{
    color: black;
}
.mstcls10{
    color: black;
}
.mstcls11{
    color: black;
}
.warn{
    color: black;
    font-size: 22px;
    font-family: 'JetBrains Mono', monospace;
    margin-left: 6%;
    padding-top: 2%;
}
.name{
    color: cornflowerblue;
    font-size: 25px;
    font-family: 'Alegreya SC', serif;
    margin-left: 2%;
    margin-top: -3%;
}
